html, body, body > div {
    height: 100%;
}

body {
    font-size: 14px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

button:hover {
    cursor: pointer;
}

a {
    font-size: 1.25em;
}

img {
    object-fit: cover;    
}

.selected {
    color: #00e640;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex-1 {
    flex-grow: 1;
}

.flex-2 {
    flex-grow: 2;
}

.primary-background {
    background: #00e640;
    border: 1px solid white;
    color: white;
}

.primary-color {
    color: #00e640;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

header {
    border-bottom: 1px solid #00e640;
    margin-bottom: 16px;
}

#header {
    justify-content: space-between;
}

#header h1 {
    margin: auto 0;
}

#header ul {
    margin: auto 0;
}

#header ul li {
    display: inline-block;
    padding: 20px;
}

#header ul li a {
    font-size: 1.25em;
}

#header ul li:hover {
    background: #00e640;
}

#header ul li:hover a {
    color: white;
}

footer {
    border-top: 1px solid #00e640;
    margin-top: 16px;
}

#footer {
    padding: 16px 0;
}

#home {
    max-width: 40%;
}

#home p {
    margin: auto auto 16px auto;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

#home button {
    margin-bottom: auto;
    padding: 8px;
}

#home button:hover {
    background: white;
    border: 1px solid #00e640;
    color: #00e640;
}

#kelas section:first-child > * {
    margin-top: 16px;
}

#kelas section:last-child {
    margin-left: 16px;
}

.option ul li {
    margin-top: 16px;
}

.option ul li:first-child {
    margin-top: 8px;
}

.option ul li a:hover {
    color: #00e640;
}

.option-header {
    padding: 8px 32px 8px 8px;
}

#search-box button {
    border: 1px solid #00e640;
    padding: 8px;
}

#search-box button:hover {
    background: white;
    color: #00e640;
}

#class-list > * {
    margin-top: 8px;
}

.class-header {
    border-bottom: 1px solid #00e640;
    justify-content: space-between;
    padding-bottom: 4px;
}

.class-more:hover {
    color: #00e640;
}

#class-cards {
    margin-top: 8px;
}

.class-card {
    align-content: flex-start;
    margin-left: 8px;
}

.class-card:hover {
    cursor: pointer;
}

.class-card:first-child {
    margin-left: 0;
}

.class-card p {
    margin-top: 4px;
}

.class-img-holder {
    width: 100%;
    height: 200px;
}

.class-card img {
    width: 100%;
    height: 100%;
}

.class-name {
    font-size: 1.25em;
}

.user-image {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.user-name {
    font-size: 1.25em;
    margin: auto 0 auto 16px;
}

#profile-menus {
    margin-top: 8px;
}

#profile-menus li {
    margin-top: 16px;
}

#profile-menus li a:hover {
    color: #00e640;
}

.class-profile {
    margin-left: 16px;
    margin-top: 8px;
}

.class-profile:first-child {
    margin-top: 0;
}

.class-profile img {
    width: 200px;
    height: 150px;
}

.class-profile-desc {
    margin-left: 8px;
    width: 100%;
}

.class-profile-desc > * {
    margin-top: 4px;
}

.class-profile-header {
    justify-content: space-between;
}

.class-profile-button {
    margin-bottom: 0;
    margin-top: auto;
    padding: 8px;
}

.status {
    border-bottom: 1px solid #00e640;
    margin-left: 16px;
    margin-top: 16px;
    padding-bottom: 8px;
}

.status:first-child {
    margin-top: 0;
}

.status > * {
    margin-top: 4px;
}

.status button {
    align-self: flex-start;
    padding: 8px;
}